
.canvas {
    border: 1px solid blue;
    height: 600px;
    width: 600px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
}
.grid {
    /* background-color: cornflowerblue; */
    width: 37.5px;
}
/* .grid:hover {
    background-color: chartreuse;
/* }this working but not the way we need*/
.grid.paint {
    background-color: dodgerblue;
}